first_project/__pycache__/__init__.cpython-310.pyc
first_project/__pycache__/settings.cpython-310.pyc
first_project/__pycache__/urls.cpython-310.pyc
first_project/__pycache__/wsgi.cpython-310.pyc
songrequestapp/__pycache__/__init__.cpython-310.pyc
songrequestapp/__pycache__/admin.cpython-310.pyc
songrequestapp/__pycache__/apps.cpython-310.pyc
songrequestapp/__pycache__/forms.cpython-310.pyc
songrequestapp/__pycache__/models.cpython-310.pyc
songrequestapp/__pycache__/urls.cpython-310.pyc
songrequestapp/__pycache__/views.cpython-310.pyc
songrequestapp/migrations/__pycache__/__init__.cpython-310.pyc
first_project/__pycache__/settings.cpython-39.pyc
songrequestapp/__pycache__/urls.cpython-39.pyc
songrequestapp/__pycache__/views.cpython-39.pyc
songrequestapp/__pycache__/youtube_api.cpython-39.pyc
.vscode/launch.json

first_project/__pycache__/settings.cpython-39.pyc
songrequestapp/__pycache__/urls.cpython-39.pyc
songrequestapp/__pycache__/views.cpython-39.pyc
first_project/__pycache__/asgi.cpython-310.pyc
songrequestapp/__pycache__/consumers.cpython-310.pyc
songrequestapp/__pycache__/routing.cpython-310.pyc
songrequestapp/__pycache__/youtube_api.cpython-310.pyc
songrequestapp/migrations/__pycache__/0001_initial.cpython-310.pyc
songrequestapp/migrations/__pycache__/0002_alter_song_options_rename_song_video_song_song_url_and_more.cpython-310.pyc
songrequestapp/migrations/__pycache__/0003_song_song_title.cpython-310.pyc
songrequestapp/migrations/__pycache__/0004_song_song_duration_song_song_thumbnail.cpython-310.pyc
songrequestapp/migrations/__pycache__/0005_songs_play_history_song_skip_requests.cpython-310.pyc
songrequestapp/templatetags/__pycache__/__init__.cpython-310.pyc
songrequestapp/templatetags/__pycache__/templates.cpython-310.pyc
first_project/__pycache__/__init__.cpython-39.pyc
first_project/__pycache__/asgi.cpython-39.pyc
first_project/__pycache__/urls.cpython-39.pyc
songrequestapp/__pycache__/__init__.cpython-39.pyc
songrequestapp/__pycache__/admin.cpython-39.pyc
songrequestapp/__pycache__/apps.cpython-39.pyc
songrequestapp/__pycache__/consumers.cpython-39.pyc
songrequestapp/__pycache__/forms.cpython-39.pyc
songrequestapp/__pycache__/models.cpython-39.pyc
songrequestapp/__pycache__/routing.cpython-39.pyc
songrequestapp/__pycache__/tokens.cpython-39.pyc
songrequestapp/migrations/__pycache__/0005_songs_play_history_song_skip_requests.cpython-39.pyc
songrequestapp/migrations/__pycache__/0006_songs_blacklist.cpython-39.pyc
songrequestapp/.env
