{% extends 'base.html' %}

{% block content %}
<div class="login">
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        {% comment %} {{form}} {% endcomment %}
        <input type="text" name="username" placeholder="Username" required="required" />
        <input type="email" name="email" placeholder="Email" required="required" />
        <input type="password" name="password1" placeholder="Password" required="required" />
        <input type="password" name="password2" placeholder="Password Confrimation" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">
        <span></span>
          <span></span>
          <span></span>
          <span></span>
          Register
        </button>
        <a href="{% url 'songrequestapp:login' %}">Back to login</a>
    </form>
</div>

{% endblock %}