{% extends 'base.html' %}

{% block content %}
<body id="body-pd">
  <header class="header" id="header">
      <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
  </header>
  <div class="l-navbar" id="nav-bar">
      <nav class="nav">
          <div> 
              <a href="{% url "songrequestapp:index" %}" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> 
                  <span class="nav_logo-name">BBBootstrap</span> 
              </a>
              <div class="nav_list"> 
                {% if user.is_superuser %}
                <a href="{% url "songrequestapp:dashboard" %}" class="nav_link"> 
                    <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span>
                </a> 
                <a href="{% url "songrequestapp:request_song" %}" class="nav_link"> 
                    <i class='bx bxs-music nav_icon'></i> <span class="nav_name">Song request</span>
                </a>
                <a href="{% url "songrequestapp:songs_blacklist" %}" class="nav_link"> 
                    <i class='bx bx-minus-circle nav_icon'></i> <span class="nav_name">Blacklist</span>
                </a> 
                <a href="{% url "songrequestapp:songs_history" %}" class="nav_link"> 
                    <i class='bx bx-history nav_icon'></i> <span class="nav_name">History</span> 
                </a> 
                <a href="#" class="nav_link"> 
                    <i class='bx bx-user nav_icon'></i> <span class="nav_name">Account</span> 
                </a>
                <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Stats</span> 
                </a> 
            {% else %}
                <a href="{% url "songrequestapp:request_song" %}" class="nav_link"> 
                    <i class='bx bxs-music nav_icon'></i> <span class="nav_name">Song request</span>
                </a>
            {% endif %}
              </div>
          </div> 
          <a href="{% url "logout" %}" class="nav_link"> 
              <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> 
          </a>
      </nav>
  </div>

<div class="login">
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        {% comment %} {{form}} {% endcomment %}
        <input type="text" name="username" placeholder="Username" required="required" />
        <input type="email" name="email" placeholder="Email" required="required" />
        <input type="password" name="password1" placeholder="Password" required="required" />
        <input type="password" name="password2" placeholder="Password Confrimation" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large" style="padding: 10px 30px; margin-bottom: 10px; ">
        <span></span>
          <span></span>
          <span></span>
          <span></span>
          Register
        </button>
      </form>
        <a href="{% url 'login' %}">
          <button class="btn btn-primary btn-block btn-large" style="padding: 10px 30px; margin-bottom: 10px; ">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Back to login
          </button>
        </a>
</div>

{% endblock %}