{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  <title>{% block title %}Song Request{% endblock %}</title>
  
</head>
<body>
  <div id="snackbar" style="border: 10px solid; border-image-slice: 1; border-width: 5px; border-image-source: linear-gradient(to left, #743ad5, #d53a9d); background: #092756;"></div>
  
  <div id="loader"></div>

  <div id="bug-report-modal" class="modal">
    <div class="modal__content gradient-border">
        <h1 style="color: #fff">Report a bug</h1>
        <form action="{% url 'songrequestapp:bug_report'  %}"  method="post" id="report_bug_form">
          {% csrf_token %}
          <textarea rows="5" cols="60" name="description" placeholder="Describe a bug..." required="required"></textarea>
          <button type="button" onclick="submit_bug()" class="btn" style="padding: 10px 30px;  margin-top: 10px; margin-bottom: 10px;">SEND
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </button>
        </form>
        <a href="#" class="modal__close">&times;</a>
    </div>
  </div>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  {% comment %} <script src="https://www.youtube.com/iframe_api"></script>
  <script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script> {% endcomment %}
  {% block scripts %}
  {% endblock scripts %}
  <script>
    function submit_bug() {
      $.ajax({
          type: $('#report_bug_form').attr('method'),
          url: $('#report_bug_form').attr('action'),
          data: $('#report_bug_form').serialize(),
          beforeSend: function(){
              // Show image container
              document.getElementById("loader").style.display = "block";
             },
          success: function (resp) {
              var x = document.getElementById("snackbar");
              x.innerHTML = resp.message;
              x.className = "show";
              setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
          },   
          complete: function(){
              // Hide image container
              document.getElementById("loader").style.display = "none";
          },
      });
  }
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
   
      const showNavbar = (toggleId, navId, bodyId, headerId) =>{
      const toggle = document.getElementById(toggleId),
      nav = document.getElementById(navId),
      bodypd = document.getElementById(bodyId),
      headerpd = document.getElementById(headerId)
      
      // Validate that all variables exist
      if(toggle && nav && bodypd && headerpd){
      toggle.addEventListener('click', ()=>{
      // show navbar
      nav.classList.toggle('show')
      // change icon
      toggle.classList.toggle('bx-x')
      // add padding to body
      bodypd.classList.toggle('body-pd')
      // add padding to header
      headerpd.classList.toggle('body-pd')
      })
      }
      }
      
      showNavbar('header-toggle','nav-bar','body-pd','header')
      
      /*===== LINK ACTIVE =====*/
      const linkColor = document.querySelectorAll('.nav_link')
      
      function colorLink(){
      if(linkColor){
      linkColor.forEach(l=> l.classList.remove('active'))
      this.classList.add('active')
      }
      }
      linkColor.forEach(l=> l.addEventListener('click', colorLink))
      
       // Your code to run since DOM is loaded and ready
      });
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</body>
</html>